nav {
    width: 100%;
    background: black;
    border-radius: .5rem;
    margin-top: 2rem;

    & .navList {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;

        &--item {
            flex-grow: 1;
            text-align: center;
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
            padding: 1rem;
            cursor: pointer;

            &.active,
            &:hover {
                background: white;
                color: black;
            }
        }
    }
}